<% @nodes.each_with_index do |node, index| %>
  <div class="element <%= node.category.cat_class if node.category %>" data-symbol="" data-category="<%= node.category.cat_class if node.category %>">
    <!--p class="number"><%= index %></p-->
    
    <h2 class="name"><%= node.name %></h2>

    <div class="large_show hidden description">
        <%= node.description %>
    </div>

    <div class="large_show hidden social">
    	<% node.social_links.each do |link| %>
            <% if link.link_url.length > 0 %>
    	    	<%= link_to link.link_url, target: "_blank" do %>
    	    		<i class="icon-<%= link.social_key %> icon-2x"></i>
    	    	<% end %>
            <% end %>
		<% end %>
    </div>
  </div>
<% end %>