<article class="pt-page pt-page-4 bg-image4" id="explore">
  <div class="outer-wrapper overlay-<%= overlay_color %>">

    <%= render 'layouts/header', :@header => "Explore the community" %>

    <section class="row-fluid">

        <section id="options" class="clearfix">
          <ul id="filters" class="option-set clearfix" data-option-key="filter">
            <li><a href="#filter" data-option-value="*" class="selected">All</a></li>

            <% @categories.each do |category| %>
              <li><a href="#filter" data-option-value=".<%= category.cat_class %>" class="nav-pills"><%= category.name %></a></li>
            <% end %>
          </ul>
        </section>

        <div id="container" class="clickable clearfix isotope-container">
          <%= render 'nodes/all' %>
        </div>

    </section>
      
    <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
  </div>
<!--Footer-->
<%= render 'layouts/footer' %>


</article>