
  <article class="pt-page pt-page-5 bg-image4" id="contacts">
    <div class="outer-wrapper overlay-<%= overlay_color %>">
      <!--Header-->
      <%= render 'layouts/header', :@header => "Where to start" %>
      <!--Content-->
      <section class="row-fluid">
        <div class="container">
          <div class="span4 addspace">
            <h2>Just getting started?</h2>
            <p>Something something</p>
          </div>
          <div class="span4 addspace">
            <h2>Something else?</h2>
            <p>Take our survey. You'll be glad you did!</p>
          </div>
          <div class="span4 addspace">
            <h2>Still not satisfied?</h2>
            <p>Nothing we can do for you!</p>
          </div>
        </div>
      </section>
      <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
    </div>
    <!--Footer-->
    <%= render 'layouts/footer' %>
  </article>