<style>
	.bg-image1 { background: url(assets/bgs/1.jpg) no-repeat; }
	.bg-image2 { background: url(assets/bgs/2.jpg) no-repeat; }
	.bg-image3 { background: url(assets/bgs/3.jpg) no-repeat; }
	.bg-image4 { background: url(assets/bgs/4.jpg) no-repeat; }
	.bg-image5 { background: url(assets/bgs/5.jpg) no-repeat; }
	.bg-image6 { background: url(assets/bgs/6.jpg) no-repeat; }

	<% Category.all.each_with_index do |category, index| %>
		.<%= category.cat_class %> {
			background: none repeat scroll 0 0 <%= @palette[index] %>;
		}
	<% end %>
</style>

<%= render 'home' %>
<%= render 'about', :overlay_color=> "green1" %>
<%= render 'vision', :overlay_color=> "green2" %>
<%= render 'starting', :overlay_color=> "pink" %>
<%= render 'isotope', :overlay_color=> "blue" %>
<%= render 'creators', :overlay_color=> "orange" %>
<%= render 'feedback', :overlay_color=> "brown" %>
<%= render 'post_scripts' %>
